<h1>
  I Heart Motorcycles!
</h1>

<h5><a href="/motorcycles/new">Add A Motorcycle</a></h5>

<table border="black" padding="10">
  <thead>
  <th>Name</th>
  <th>Description</th>
  </thead>
  <tbody>
  <% motorcycles.each do |bike| %>
    <tr>
      <td>
        <a href='/motorcycles/<%= bike[:id] %>'><%=bike[:name] %></a></td>
      <td> <a href='/motorcycles/<%= bike[:id] %>'><%= bike[:description] %></td>
    </tr>
  <% end %>

  </tbody>
</table>

