<div>
<form action="/motorcycles" method="post">
  <p>
  <input type="text" placeholder="Name of Motorcycle" autofocus="autofocus" name="name">
  </p>
  <p>
  <input type="text" placeholder="Describe Motorcycle" name="description">
  </p>
  <p>
  <input type="submit" value="Add Motorcycle">
  </p>
</form>
</div>