<table border="black">
  <thead>
  <th>Name</th>
  <th>Description</th>
  </thead>
  <tbody>
  <tr>
    <td>
      <a href='/motorcycles/<%= bike[:id] %>'><%= bike[:name] %></a></td>
    <td><a href='/motorcycles/<%= bike[:id] %>'><%= bike[:description] %></td>
  </tr>

  </tbody>
</table>